/* public\css\main-layout.css */
.body-content {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "sidebar nav"
        "sidebar main";
    transition: grid-template-columns 0.8s ease;
}
.body-content.collapsed {
    grid-template-columns: 0 1fr;
}

/* Navbar Header */
.navbar-header {
    grid-area: nav;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    margin-right: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    height: 40px;
}

.avatar-container {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid dodgerblue;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}

.user-info p {
    margin: 0;
    line-height: 1;
    color: #333;
    white-space: nowrap;
}

.user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8rem;
    min-height: 15px;
}
.user-role {
    font-size: 0.6rem;
}

#menu-bars {
    margin-left: 10px;
    font-size: 1.5rem;
}
/* End Navbar Header */

.sidebar {
    grid-area: sidebar;
    background: #fff;
    width: 200px;
    transition: width 0.8s ease;
}
.sidebar.active {
    width: 0;
    overflow: hidden;
}

.main-content {
    grid-area: main;
}
